body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}
.owl-nav{
  display: none;
}
.owl-carousel .owl-item img {
    width: 70%;
    margin: 0 auto;
}
.containerInicio,.containerValidar{
  margin: 35px 0;
}
.owl-carousel.owl-loaded {
    margin-top: 56px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #cd1616;
}
#btnInicio{
  background-color: #f7b617;
  padding: 11px 108px;
  margin-top: 30px;
  border: none;
}
.smallValidar{
  font-size: 56%;
}
.imgValidarPhone{
  max-width: 50%;
  margin: 30px auto;
}
#inputPhone{
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px 5px 5px 25px;
    width: 230px;
    background-position: 4px -91px;
}
#labelInputPhone{
  background: url("../img/icons/phoneandnumber.png") no-repeat scroll 0 0 transparent;
  width: 100px;
  height: 50px;
  background-position: 2px 10px;
  margin-bottom: -14px;
}
input[type=checkbox]{
  margin-left: 50px;
}
.btnValidarPhone{
  color: #ffff;
  margin: 30px 30%;
}
.formGroupInput{
  margin-top: 30px;
}
.btnValidarPhoneEnabled{
  background-color: #f7b617;
}
